@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Mukta", sans-serif;
    margin: 0;
    background-color: #010101;
    color: #eee;
    overflow-y: auto;
}
/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #535455;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #45474C;
    border-radius: 12px;
  }
  
  header{
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: transparent;
}

header .Logo{
    font-weight: 800;
}

/* header .Menu{
    padding: 0;
    margin: 0;
    List-style: none;
    display:flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
} */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.gallery > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.gallery .tall {
    grid-row: span 2;
}

header{
    /* height: 60px; */
    /* background-color: var(--color-1); */
    filter:blur(20%);
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 50;
    width: 120%;
  }
  .links-container{
    padding-left: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  header a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
  }
  header a:hover{
    background-color: var(--accent-color);
  }
  header .home-link{
    margin-right: auto;
  }
  header svg{
    fill: var(--text-color);
  }
  #sidebar-active{
    display: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    display: none;
  }
  @media(max-width: 450px){
    .links-container{
      flex-direction: column;
      align-items: flex-start;
  
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 99;
      width: 300px;
  
      backdrop-filter: blur(20px);
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.75s ease-out;
    }
    header a{
      box-sizing: border-box;
      height: auto;
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
      /* padding: 20px; */
      display: block;
    }
    #sidebar-active:checked ~ .links-container{
      right: 0;
    }
    #sidebar-active:checked ~ #overlay{
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
    .dropdown{
      margin-left: 13px;
    }
  } 

  .title{
    position: relative;
    justify-content: center;
    margin-left: 40%;
    font-size:3dvw;
    padding-bottom: 50px;
  }

  .dropdown{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap; */
    /* margin-top: -7px; */
    /* min-width:15em; */
    position: relative;
    /* margin: 2em; */
  }

  .dropdown *{
    box-sizing: border-box;
    
  }

  .select{
    /* background: #2a2f3b; */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: border 1.0s;    
    width: 150px;
    height: 40px;
  }

  .select-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
  }

  .select:hover{
    /* background:#323741; */
      border: 2px #2a2f3b solid;
  }

  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
  }

  .caret-rotate{
    transform: rotate(180deg);
  }

  .menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
  }

  .menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;

  }

  .menu li:hover{
    background: #2a2d35;
  }

  .active{
    background: #23242a;
  }

  .menu-open{
    display:block;
    opacity: 1;
  }