@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Mukta", sans-serif;
    margin: 0;
    background-color: #010101;
    color: #eee;
    overflow-y: auto;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #535455;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #45474C;
    border-radius: 12px;
  }
  

header{
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

header .Logo{
    font-weight: 800;
}

header .Menu{
    padding: 0;
    margin: 0;
    List-style: none;
    display:flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 250vh;
    animation: animate 30s ease-in-out infinite;
    z-index: -1;
    filter:blur(60px) brightness(.8);
}
@keyframes animate{
    0%, 100%{
        background-image: url(Assets/ali-kazal-iP8Op6rCuOw-unsplash.jpg);
    }
    25%{
        background-image: url(Assets/kajetan-powolny-pqlsP0C-fws-unsplash.jpg);
    }
    50%{
        background-image: url(Assets/kevin-bonilla-e1ZDMAeK0Yw-unsplash.jpg);
    }
    100%{
        background-image: url(Assets/mike-hindle-_slBwkVqzw4-unsplash.jpg);
    }
}

.NewBody{
    /* background-color: #36353b; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none !important;
    z-index: 51;
}

.pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    /* padding-left: 250px; */
}

@media screen and (min-width: 1024px) {
    .pricing-table {
        padding-left: 250px;
    }
}
.pricing-card{
    flex: 1;
    max-width: 360px;
    background-color: #94878746;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
}


.pricing-card-header{
    background-color: #0fbcf9;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
    box-shadow: 0 0 0 26em #0fbcf9;
}

.price{
    font-size: 70px;
    color: #0fbcf9;
    margin: 40px 0;
    transition: .2s linear;
}

.price span{
    font-size: 22px;
    font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
    color: #fff;
}

.pricing-card li{
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
}

.order-btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid #0fbcf9;
    color: #0fbcf9;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear
}

-order-btn:hover{
    background-color: #fff;
    color: #fff;
}

@media screen and (max-width: 678px){
    *{
        overflow-y: auto;
    }
    .thumbnail{
        justify-content: start;
    }

    .slider .list .item .content h2{
        font-size: 60px;
    }

    .arrows{
        top: 10%;
    }

    .pricing-table{
        flex-direction: column;
    }

    .pricing-card{
        color: #fff;
    }

    .pricing-card:hover ,.pricing-card:hover .price{
        color: #2d2d2d;
    }
}
