@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Mukta", sans-serif;
    margin: 0;
    background-color: #010101;
    color: #eee;
    overflow-y: auto;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #535455;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #45474C;
    border-radius: 12px;
  }
  

header{
    width: 1200px;
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

header .Logo{
    font-weight: 800;
}

header .Menu{
    padding: 0;
    margin: 0;
    List-style: none;
    display:flex;
    justify-content: center;
    gap: 20px;
    font-weight: 500;
}

.container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 30s ease-in-out infinite;
    z-index: -1;
    filter:blur(60px) brightness(.8);
}
@keyframes animate{
    0%, 100%{
        background-image: url(Assets/ali-kazal-iP8Op6rCuOw-unsplash.jpg);
    }
    25%{
        background-image: url(Assets/kajetan-powolny-pqlsP0C-fws-unsplash.jpg);
    }
    50%{
        background-image: url(Assets/kevin-bonilla-e1ZDMAeK0Yw-unsplash.jpg);
    }
    100%{
        background-image: url(Assets/mike-hindle-_slBwkVqzw4-unsplash.jpg);
    }
}

.NewBody{
    /* background-color: #36353b; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none !important;
    z-index: 51;
}

.pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    /* padding-left: 250px; */
}

@media screen and (min-width: 1024px) {
    .pricing-table {
        padding-left: 250px;
    }
}
.pricing-card{
    flex: 1;
    max-width: 360px;
    background-color: #94878746;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
}


.pricing-card-header{
    background-color: #0fbcf9;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
    box-shadow: 0 0 0 26em #0fbcf9;
}

.price{
    font-size: 70px;
    color: #0fbcf9;
    margin: 40px 0;
    transition: .2s linear;
}

.price span{
    font-size: 22px;
    font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
    color: #fff;
}

.pricing-card li{
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
}

.order-btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px solid #0fbcf9;
    color: #0fbcf9;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s linear
}

-order-btn:hover{
    background-color: #fff;
    color: #fff;
}

@media screen and (max-width: 678px){
    *{
        overflow-y: auto;
    }
    .thumbnail{
        justify-content: start;
    }

    .slider .list .item .content h2{
        font-size: 60px;
    }

    .arrows{
        top: 10%;
    }

    .pricing-table{
        flex-direction: column;
    }

    .pricing-card{
        color: #fff;
    }

    .pricing-card:hover ,.pricing-card:hover .price{
        color: #2d2d2d;
    }
}
header{
    /* height: 60px; */
    /* background-color: var(--color-1); */
    filter:blur(20%);
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 50;
    width: 120%;
  }
  .links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  header a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
  }
  header a:hover{
    background-color: var(--accent-color);
  }
  header .home-link{
    margin-right: auto;
  }
  header svg{
    fill: var(--text-color);
  }
  #sidebar-active{
    display: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    display: none;
  }
  @media(max-width: 450px){
    .links-container{
      flex-direction: column;
      align-items: flex-start;
  
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 99;
      width: 300px;
  
      backdrop-filter: blur(20px);
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.75s ease-out;
    }
    header a{
      box-sizing: border-box;
      height: auto;
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
      /* padding: 20px; */
      display: block;
    }
    #sidebar-active:checked ~ .links-container{
      right: 0;
    }
    #sidebar-active:checked ~ #overlay{
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
    .dropdown{
      margin-left: 13px;
    }
  } 

  .dropdown{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap; */
    /* margin-top: -7px; */
    /* min-width:15em; */
    position: relative;
    /* margin: 2em; */
  }

  .dropdown *{
    box-sizing: border-box;
    
  }

  .select{
    /* background: #2a2f3b; */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: border 1.0s;    
    width: 150px;
    height: 40px;
  }

  .select-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
  }

  .select:hover{
    /* background:#323741; */
      border: 2px #2a2f3b solid;
  }

  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
  }

  .caret-rotate{
    transform: rotate(180deg);
  }

  .menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
  }

  .menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;

  }

  .menu li:hover{
    background: #2a2d35;
  }

  .active{
    background: #23242a;
  }

  .menu-open{
    display:block;
    opacity: 1;
  }